/* Map layout */
.psv-map {
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.psv-map .maplibregl-map {
	width: 100%;
	height: 100%;
}

/* Small map layout */
.psv-map.gvs-map-small {
	z-index: 90;
}

.psv-map.gvs-map-small .maplibregl-map {
	border-radius: 10px;
}

.psv-map.gvs-map-small .maplibregl-ctrl-attrib,
.psv-map.gvs-map-small .maplibregl-ctrl-top-right .maplibregl-ctrl-group {
	display: none;
}

/* Picture thumbnail on map */
.gvs-map-thumb {
	max-width: 150px;
	max-height: 75px;
}
